.form__fieldset {
  border: 2px solid hsl(226, 98%, 42%);
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 5px 2px hsl(226, 98%, 52%);
  background-color: #eee;
}

.form__legend {
  background-color: #0234d2;
  color: white;
  border-radius: 5px;
  padding: 10px;
}

.form__field,
.form__select {
  border: 1px solid #0234d2;
  padding: 10px;
  border-radius: 5px;
}
