.form__labelText {
  display: inline-block;
  width: 100%;
  max-width: 150px;
}

.form__field,
.form__select {
  border: 1px solid #0234d2;
  padding: 10px;
  width: 100%;
  max-width: 300px;
  border-radius: 5px;
}

.form__fieldset {
  border: 1px solid #0234d2;
  border-radius: 5px;
  padding: 20px;
}

.form__legend {
  background-color: #0234d2;
  color: white;
  border-radius: 5px;
  padding: 10px;
}

.form__result {
  text-align: center;
  padding: 20px 0 0 0;
}
