html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  background-size: cover;
  background-position: center;
  background-image: url("./background.png");
  color: #222;
  font-family: "Lato", sans-serif;
}
